{% load staticfiles %}

<div class="franchise apply bg-cyan white">
  <div class="wrapper">
    <h1 class="title">상담을 신청하세요.</h1>
    <div class="input-container h3">
      <div class="input-row">
        <div class="input-box">
          <div class="label">독서실 이름</div>
          <input name="shop-name" type="text" placeholder="독서실 이름">
        </div>
        <div class="input-box">
          <div class="label">성함/직함</div>
          <input name="name" type="text" placeholder="성함/직함">
        </div>
      </div>
      <div class="input-row">
        <div class="input-box">
          <div class="label">휴대전화 번호</div>
          <input name="phone" type="text" placeholder="010-0000-****">
        </div>
        <div class="input-box">
          <div class="label">이메일</div>
          <input name="email" type="text" placeholder="qanda@example.com">
        </div>
      </div>
      <div class="input-row">
        <div class="input-box region">
          <div class="label">지역</div>
          <div class="input-bundle">
            <input name="region1" type="text" placeholder="서울특별시">
            <input name="region2" type="text" placeholder="시/군/구">
          </div>
        </div>
        <div class="input-box">
          <div class="label">알게 된 계기</div>
          <input name="from" type="text" placeholder="ex) 네이버 기사">
        </div>
      </div>
      <div class="input-row">
        <div class="input-box long">
          <div class="label">문의 내용</div>
          <textarea name="content" type="text" placeholder="궁금하신 점이나 원하시는 상담 내용을 자세히 적어주시면 더욱 정확하고 빠른 상담을 받으실 수 있습니다."></textarea>
        </div>
      </div>
      <button class="btn h3 bg-blue-green white" type="submit">상담 신청</button>
    </div>
  </div>
</div>
