{% load staticfiles %}

<div class="franchise cover">
  <div class="wrapper">
    <div class="content">
      <h1 class="title">
        실시간 Q&A와 <br>
        개인맞춤 학습 컨텐츠
      </h1>
      <h3 class="desc">
        최고의 학습 환경에서 <br>
        최고의 교육 솔루션을 제공하세요.
      </h3>
      <div class="btn-container">
        <button class="btn h3 bg-white" href="">제안서 받기</button>
        <button class="btn h3 white bg-cyan" href="">상담 받기</button>
      </div>
      <div class="img-container pc-only">
        <img src="{% static 'img/bg-1-phone@2x.png' %}" alt="">
      </div>
    </div>
    <div class="img-content mobile-only">
      <img src="{% static 'img/bg-1-phone@2x.png' %}" alt="">
    </div>
    <div class="certs-for-franc pc-only">
      <img src="" alt=""><img src="" alt=""><img src="" alt="">
    </div>
    <div class="certs-for-franc mobile-only">
      <h1 class="title">독서실 제휴 서비스 <span class="cyan">1위</span></h1>
      <h1 class="title">이용 고객 <span class="cyan">11만 명</span></h1>
      <h1 class="title">교육 앱 만족도 <span class="cyan">4.7점</span></h1>
    </div>
  </div>
</div>
