{% load staticfiles %}

<div class="franchise page3">
  <div class="wrapper">
    <div class="content">
      <div class="img-container">
        <img src="{% static 'img/a-bg-4@2x.png' %}" alt="">
      </div>
      <h1 class="title bold">
        <b>11만 회원에게 홍보</b> <br>
        <b class="orange">콴다 마케팅</b> <br>
      </h1>
      <h3 class="desc">
        기존에 유료로 콴다를 이용하고 있는 회원들에게 <br>
        콴다를 무료로 이용할 수 있는 우리 독서실을 홍보하세요.
      </h3>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".container-3 img").css("visibility", "visible");
    $(".container-3 img").css("transform", "translateY(0)");
    $(".container-3 img").css("opacity", 1);
  })
</script>