{% load staticfiles %}

<div class="franchise page2">
  <div class="wrapper">
    <div class="content">
      <div class="img-container">
        <img src="{% static 'img/a-bg-3@2x.png' %}" alt="">
      </div>
      <h1 class="title bold">
        <b>개인맞춤 학습 컨텐츠</b> <br>
        <b class="orange">질문 내역 노트</b> <br>
      </h1>
      <h3 class="desc">
        회원들이 질문했던 문제를 매주 시험지로 제작하여 <br>
        전달해드립니다.
      </h3>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".container-3 img").css("visibility", "visible");
    $(".container-3 img").css("transform", "translateY(0)");
    $(".container-3 img").css("opacity", 1);
  })
</script>