{% load staticfiles %}

<div class="franchise page2 bg-cyan">
  <div class="wrapper">
    <div class="content white">
      <h3 class="desc">답지를 봐도 이해가 안 된다고요?</h3>
      <h1 class="title bold">
        <b>명문대 선생님과 실시간 Q&A</b> <br>
        <b class="orange">콴다 QandA</b> <br>
      </h1>
      <h3 class="desc pc-only">
        회원들에게 24시간 Q&A 서비스를 제공하세요. <br>
        독서실을 최적화된 자기주도적 학습 공간으로 만들어줍니다.
      </h3>
      <div class="img-container">
        <img src="{% static 'img/group-10.png' %}" alt="">
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".container-3 img").css("visibility", "visible");
    $(".container-3 img").css("transform", "translateY(0)");
    $(".container-3 img").css("opacity", 1);
  })
</script>