{% extends "landing_web/base.html" %}
{% load staticfiles %}

{% block container %}
  {% include "landing_web/franchise/partials/cover.html" %}
  {% include "landing_web/franchise/partials/page1.html" %}
  {% include "landing_web/franchise/partials/page2.html" %}
  {% include "landing_web/franchise/partials/page3.html" %}
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/animations.js' %}?version=0.1.0"></script>
  <script src="{% static 'js/scroll_animations.js' %}?version=0.1.0"></script>
{% endblock %}