{% load staticfiles %}

<div class="footer">
  <sdiv class="wrapper">
    <div class="footer-info1">
      <h4 class="sub-desc-small">
        대표이사 이종흔, 이용재 ㅣ 사업자 등록번호 381-87-00138 <br> 서울시 마포구 연희로 1길 45 3층 <br>
      </h4>
      <h4 class="sub-desc-small">
        © 2017 ㈜매스프레소. All rights reserved
      </h4>
    </div>
    <div class="footer-info2">
      <h4 class="sub-desc-small">
        전화 : 02-322-9434 <br>
        이메일 : support@mathpresso.com
      </h4>
      <img class="mathpresso-logo" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAeQAAABiAQMAAAC7/jLLAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAB1JREFUeNrtwTEBAAAAwqD1T20ND6AAAAAAAIAnAxe8AAGtmgfDAAAAAElFTkSuQmCC">
    </div>
  </sdiv>
</div>