{% load staticfiles %}

<div class="header">
  <div class="wrapper">
    <div class="logo">
      <a href="">
        <img style="" class="qanda-logo" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARoAAAA+AQMAAADON0ZtAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABhJREFUeNrtwQEBAAAAgiD/r25IQAEAPBgI9gABO+8K0gAAAABJRU5ErkJggg==">
      </a>
    </div>
    <ul class="header-menu">
      <li class="header-item active"><a href="">앱</a></li>
      <li class="header-item"><a href="">가맹점</a></li>
    </ul>
  </div>
</div>

<script>
  $(document).ready(function() {
    var activeHeaderItem = $(".header-menu .active");
    $(".header-item").hover(
      function() { activeHeaderItem.removeClass("active"); },
      function() { activeHeaderItem.addClass("active"); }
    )
  });
</script>@