{% load staticfiles %}

<div class="page page2 bg-cyan">
  <div class="wrapper">
    <div class="content white">
      <h3 class="desc">답지를 봐도 이해가 안 된다고요?</h3>
      <h1 class="title bold">
        더는 망설이지 마세요. <br>
        모든 배움은 <br>
        질문으로부터 시작됩니다.
      </h1>
      <h3 class="desc pc-only">
        이제 5초 만에 풀이 검색 후, <br>
        모르는 부분은 실시간 답변받는 편리함을 공유하세요.
      </h3>
      <div class="img-container">
        <img src="{% static 'img/group-10.png' %}" alt="">
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".container-3 img").css("visibility", "visible");
    $(".container-3 img").css("transform", "translateY(0)");
    $(".container-3 img").css("opacity", 1);
  })
</script>