{% load staticfiles %}

<div class="page page1">
  <div class="wrapper">
    <div class="content">
      <h1 class="title">
        총 <b>111,429명</b> 학생들이 <br>
        누적 <b>547,054개</b> 문제를 해결했습니다.
      </h1>
      <h5 class="desc dark-gray">* 2017년 11월 16일 기준</h5>
    </div>
    <div class="slide-wrapper">
      <ul class="slide-list">
        <li>
          <div class="question">
            <h3 class="date">2017년 6월 22일</h3>
            <h2 class="school">고등학교</h2>
            <h2 class="subject">기하와 벡터</h2>
            <h3 class="meta2">질문 답변</h3>
            <h3 class="meta3">상위 4%</h3>
            <div class="clearer" style="clear: both;"></div>
          </div>
        </li>
        <li>
          <div class="question">
            <h3 class="date">2017년 6월 22일</h3>
            <h2 class="school">고등학교</h2>
            <h2 class="subject">기하와 벡터</h2>
            <h3 class="meta2">질문 답변</h3>
            <h3 class="meta3">상위 4%</h3>
            <div class="clearer" style="clear: both;"></div>
          </div>
        </li>
        <li>
          <div class="question">
            <h3 class="date">2017년 6월 22일</h3>
            <h2 class="school">고등학교</h2>
            <h2 class="subject">기하와 벡터</h2>
            <h3 class="meta2">질문 답변</h3>
            <h3 class="meta3">상위 4%</h3>
            <div class="clearer" style="clear: both;"></div>
          </div>
        </li>
        <li>
          <div class="question">
            <h3 class="date">2017년 6월 22일</h3>
            <h2 class="school">고등학교</h2>
            <h2 class="subject">기하와 벡터</h2>
            <h3 class="meta2">질문 답변</h3>
            <h3 class="meta3">상위 4%</h3>
            <div class="clearer" style="clear: both;"></div>
          </div>
        </li>
        <li>
          <div class="question">
            <h3 class="date">2017년 6월 22일</h3>
            <h2 class="school">고등학교</h2>
            <h2 class="subject">기하와 벡터</h2>
            <h3 class="meta2">질문 답변</h3>
            <h3 class="meta3">상위 4%</h3>
            <div class="clearer" style="clear: both;"></div>
          </div>
        </li>
        <li>
          <div class="question">
            <h3 class="date">2017년 6월 22일</h3>
            <h2 class="school">고등학교</h2>
            <h2 class="subject">기하와 벡터</h2>
            <h3 class="meta2">질문 답변</h3>
            <h3 class="meta3">상위 4%</h3>
            <div class="clearer" style="clear: both;"></div>
          </div>
        </li>
        <li>
          <div class="question">
            <h3 class="date">2017년 6월 22일</h3>
            <h2 class="school">고등학교</h2>
            <h2 class="subject">기하와 벡터</h2>
            <h3 class="meta2">질문 답변</h3>
            <h3 class="meta3">상위 4%</h3>
            <div class="clearer" style="clear: both;"></div>
          </div>
        </li>
        <li>
          <div class="question">
            <h3 class="date">2017년 6월 22일</h3>
            <h2 class="school">고등학교</h2>
            <h2 class="subject">기하와 벡터</h2>
            <h3 class="meta2">질문 답변</h3>
            <h3 class="meta3">상위 4%</h3>
            <div class="clearer" style="clear: both;"></div>
          </div>
        </li>
        <li>
          <div class="question">
            <h3 class="date">2017년 6월 22일</h3>
            <h2 class="school">고등학교</h2>
            <h2 class="subject">기하와 벡터</h2>
            <h3 class="meta2">질문 답변</h3>
            <h3 class="meta3">상위 4%</h3>
            <div class="clearer" style="clear: both;"></div>
          </div>
        </li>
        <li>
          <div class="question">
            <h3 class="date">2017년 6월 22일</h3>
            <h2 class="school">고등학교</h2>
            <h2 class="subject">기하와 벡터</h2>
            <h3 class="meta2">질문 답변</h3>
            <h3 class="meta3">상위 4%</h3>
            <div class="clearer" style="clear: both;"></div>
          </div>
        </li>
      </ul>
    </div>
    <h4 class="meta">* 실제 콴다에서 해결된 문제들로 클릭 시 검색 또는 답변 내역을 확인할 수 있습니다.</h4>
  </div>
</div>

{% block javascript %}
  <script src="{% static 'js/animations.js' %}"></script>
{% endblock %}
