{% load staticfiles %}

<div class="container-wrapper bg-gradient">
  <div class="container container-1">
    <div class="content-container">
      <h2>
        이제는 당신이 경험할 차례입니다. <br>
        지금 문제를  촬영하세요.
      </h2>
      <h4>
        정답으로 가는 가장 빠른 길, <span class="orange">콴다</span>
      </h4>
      <div class="store-btn-container">
        <img src="{% static 'img/btn-playstore.png' %}?version=0.0.1" alt="">
        <img src="{% static 'img/btn-appstore.png' %}?version=0.0.1" alt="">
      </div>
    </div>
  </div>
</div>