<div class="container-wrapper">
  <div class="container container-2">
    <hr>
    <h3>
      총 11만 명의 학생과 공신력 높은 교육 회사들이 선택한 <br>
      믿을 수 있는 교육 앱입니다.
    </h3>
    <div class="promo bg-promo">
      <h5>
        관련 교육 앱 <br>
        Google Play Store <br>
        평점 1위
      </h5>
    </div>
    <div class="promo bg-promo">
      <h5>
        Google이 선정한 <br>
        “대한민국 앱의 <br>
        숨겨진 보석“
      </h5>
    </div>
    <div class="promo bg-promo">
      <h5>
        Google <br>
        ‘App 앰베서더 <br>
        파트너’ 선정
      </h5>
    </div>
    <div class="question-container-wrapper">
      <div class="question-container">
        <div class="question">
          <img src="" alt="" class="profile">
          <h5 class="date">2017년 11월 6일</h5>
          <span class="star">별별별별별</span>
          <p>정말 좋아요 제가 이해가 잘 안돼가는 문제들이 많았는데요 이앱을 설치해보니...</p>
        </div>
      </div>
    </div>
    <h4>* 실제 작성된 후기들로 Playstore에서 확인하실 수 있습니다.</h4>
  </div>
</div>