{% load staticfiles %}

<div class="page page1">
  <div class="wrapper">
    <div class="content">
      <h1 class="title">
        총 <b>111,429명</b> 학생들이 <br>
        누적 <b>547,054개</b> 문제를 해결했습니다.
      </h1>
      <h4 class="sub-desc-small">* 2017년 11월 16일 기준</h4>
    </div>
    <div class="btn-slider-wrapper">
      <ul class="slide-holder">
        {% for question in questions %}
          <li class="slide-item" style="background: url('{{ question.image_url }}');">
            <div class="question">
              <h3 class="date">{{ question.date }}</h3>
              <h2 class="school">{{ question.school }}</h2>
              <h2 class="subject">{{ question.subject }}</h2>
              <h3 class="type">{{ question.type }}</h3>
              <h3 class="extra-info">{{ question.extra_info }}</h3>
              <div class="clearer" style="clear: both;"></div>
            </div>
          </li>
        {% endfor %}
      </ul>
      <button class="slide-btn left pc-only">
        <img style="width: 30px; top: 30%; left: 35%;" class="left-arrow" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAABcAQMAAAAbEQSfAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA9JREFUeNpjYBgFo2D4AgAC4AABi3QKrwAAAABJRU5ErkJggg==">
      </button>
      <button class="slide-btn right pc-only">
        <img style="width: 30px; top: 30%; left: 40%;" class="right-arrow" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAABcAQMAAAAbEQSfAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAAA9JREFUeNpjYBgFo2D4AgAC4AABi3QKrwAAAABJRU5ErkJggg==">
      </button>
      <h3 class="sub-desc-medium pc-only">* 실제 콴다에서 해결된 문제들로 <b>클릭</b> 시 검색 또는 답변 내역을 확인할 수 있습니다.</h3>
    </div>
  </div>
  <div class="question-detail-container">
    <div class="question-detail-scroller">
      <img class="chat-scroll-image" src="/vendor/img/chat-1@2x.jpg" alt="">
    </div>
    <button class="cancel-detail-btn">
      안녕세상아
    </button>
  </div>
</div>

{% block javascript %}
  <script src="{% static 'js/animations.js' %}?version=0.0.7"></script>
{% endblock %}
