{% load staticfiles %}

<div class="home page7 bg-gradient-white-to-black">
  <div class="wrapper">
    <div class="content">
      <h1 class="title">
        이제 당신이 경험할 차례입니다. <br>
        지금 문제를 촬영하세요.
      </h1>
      <h3 class="desc">
        정답으로 가는 가장 빠른 길, <span class="orange">콴다</span>
      </h3>
      <div class="btn-container">
        <a href=""><img src="{% static 'img/btn-playstore.png' %}?version=0.0.1" alt=""></a>
        <a href=""><img src="{% static 'img/btn-appstore.png' %}?version=0.0.1" alt=""></a>
      </div>
      <div class="img-container pc-only">
        <img src="{% static 'img/1-phone.png' %}" alt="">
      </div>
    </div>
    <div class="img-content mobile-only">
      <img src="{% static 'img/1-phone.png' %}" alt="">
    </div>
  </div>
</div>

<script>
</script>