{% extends "landing_web/base.html" %}
{% load staticfiles %}

{% block container %}
  {% include "landing_web/home/partials/cover.html" %}
  {% include "landing_web/home/partials/page1.html" %}
  {% include "landing_web/home/partials/page2.html" %}
  {% include "landing_web/home/partials/page3.html" %}
  {% include "landing_web/home/partials/page4.html" %}
  {% include "landing_web/home/partials/page5.html" %}
  {% include "landing_web/home/partials/page6.html" %}
  {% include "landing_web/home/partials/page7.html" %}
{% endblock %}