{% extends "landing_web/base.html" %}
{% load staticfiles %}

{% block container %}
  {% include "landing_web/home/partials/cover.html" %}
  {% include "landing_web/home/partials/page1.html" with questions=data.questions %}
  {% include "landing_web/home/partials/page2.html" %}
  {% include "landing_web/home/partials/page3.html" %}
  {% include "landing_web/home/partials/page4.html" %}
  {% include "landing_web/home/partials/page5.html" with reviews=data.reviews %}
  {% include "landing_web/home/partials/page6.html" %}
  {% include "landing_web/home/partials/page7.html" %}
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/animations.js' %}?version=0.2.2"></script>
  <script src="{% static 'js/scroll_animations.js' %}?version=0.2.2"></script>
{% endblock %}