{% extends "landing_web/base.html" %}

{% block container %}
  안녕 난 홈이야.
  {% include "landing_web/home/partials/container1.html" %}
  {% include "landing_web/home/partials/container2.html" %}
  {% include "landing_web/home/partials/container3.html" %}
  {% include "landing_web/home/partials/container4.html" %}
  {% include "landing_web/home/partials/container5.html" %}
  {% include "landing_web/home/partials/container6.html" %}
  {% include "landing_web/home/partials/container7.html" %}
{% endblock %}